.clh-0 {
    line-height: 0px;
}

/* webcam dialog css START */

.box {
    overflow: hidden;
    font-size: 1.1rem;
    background-color: #c8dadf;
    min-height: 350px;
    padding: 20%;
}

.box.has-advanced-upload {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.mat-icon-md {
    font-size: 80px !important;
    color: #638a95;
}

@media screen and (max-width: 520px) {
    .card-w-md {
        width: 520px
    }
}

/* webcam dialog css END */